*{
   margin: 0;
   padding: 0;
   text-decoration: none;
   box-sizing: border-box;
}
.app{
   padding-top: 40px;
}
.done{
   text-decoration:line-through
}
.list{
   margin: 5px 0;
   display: flex;
   justify-content: space-between;
   border: 1px rgb(193, 192, 192) solid;
   padding: 10px 10px 10px 20px;
   align-items: center;
   border-radius: 8px;
}
.btn-block{
   width: 80px;
   display: flex;
   align-items: center;
   gap: 30px;
}
